@charset "UTF-8";


	.container {
		width: 100%;
		overflow: hidden;
	}
	
	.box {
		float: left;
		width: 300px;
		height: 200px;
		background-color: rgb(240, 248, 255);
		margin-right: 5px;
		box-sizing: border-box;
	}
	
	.sidebar{
		float: left;
		width: 100px;
		height: 100%;
		background-color: rgb(150, 150, 255);
		margin-right: 1px;
		box-sizing: border-box;
	
	}
	
	.headbar{
		float: left;
		/* width: 100px; */
		height: 100%;
		background-color: rgb(150, 150, 255);
		/* margin-right: 1px; */
		box-sizing: border-box;
	
	}

