@charset "UTF-8";


  .container {
    width: 100%;
    overflow: hidden;
  }
  
  .box {
    float: left;
    width: 20%;
    height: 200px;
    background-color: #ccc;
    margin-right: 10px;
    box-sizing: border-box;
  }
